*.Plo
*.Po
*.[oa]
*.gir
*.la
*.lai
*.lo
*.pc
*.pyc
*.so*
*.swo
*.swp
*.typelib
*~
.deps
.dirstamp
.libs
/config.h.in
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
config.cache
config.guess
config.h
config.log
config.status
config.sub
configure
cscope.out
depcomp
docs/reference/log4g/html
docs/reference/log4g/html.stamp
docs/reference/log4g/log4g-decl*
docs/reference/log4g/log4g-overrides.txt
docs/reference/log4g/log4g-undeclared.txt
docs/reference/log4g/log4g-undocumented.txt
docs/reference/log4g/log4g-unused.txt
docs/reference/log4g/log4g.args
docs/reference/log4g/log4g.hierarchy
docs/reference/log4g/log4g.interfaces
docs/reference/log4g/log4g.prerequisites
docs/reference/log4g/log4g.signals
docs/reference/log4g/log4g.stamp
docs/reference/log4g/sgml.stamp
docs/reference/log4g/xml
gtk-doc.make
install-sh
libtool
log4g-*.tar.gz
log4g/marshal.[ch]
ltmain.sh
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
missing
stamp-h1
test-driver
test-suite.log
tests/*-test
tests/*.html
tests/*.log
tests/*.trs
tests/*.txt
tests/*.txt.*
