# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.gir
*.la
*.lai
*.lo
*.so*
*.pc
*.Plo
*.Po
*.pyc
*.swo
*.swp
*.typelib
.libs
.scons*
.svn
aclocal.m4
autom4te.cache
build
config.cache
config.guess
config.h
/config.h.in
config.log
config.status
config.sub
configure
cscope.out
depcomp
docs/reference/log4g/html
docs/reference/log4g/html.stamp
docs/reference/log4g/log4g-decl*
docs/reference/log4g/log4g.args
docs/reference/log4g/log4g.hierarchy
docs/reference/log4g/log4g.interfaces
docs/reference/log4g/log4g-overrides.txt
docs/reference/log4g/log4g.prerequisites
docs/reference/log4g/log4g.signals
docs/reference/log4g/log4g.stamp
docs/reference/log4g/log4g-undeclared.txt
docs/reference/log4g/log4g-undocumented.txt
docs/reference/log4g/log4g-unused.txt
docs/reference/log4g/sgml.stamp
docs/reference/log4g/xml
doltcompile
doltlibtool
Doxyfile
gtk-doc.make
INSTALL
install-sh
libtool
log4g-*.tar.gz
ltmain.sh
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
Makefile
Makefile.in
missing
stamp-h1
tests/*-test
tests/*.html
tests/*.txt
tests/*.txt.*
